<app-barra-navegacion></app-barra-navegacion>
<app-hamburguesa></app-hamburguesa>
<app-carrusel></app-carrusel>

<div id="catalogo" class="pack-section">
  <ul class="pack-grig">
    <li>
      <div class="pack-box pack-img-1">
        <div class="pack-info">
          <h3>Cárnicos</h3>
          <p>Catálogo de cárnicos: frescura y calidad en cada corte.</p>
          <button (click)="navCarnicos()">Ver</button>
        </div>
      </div>
    </li>
      <li>
        <div class="pack-box pack-img-2">
          <div class="pack-info">
            <h3>Lácteos</h3>
            <p>Catálogo de lácteos: frescura y calidad para cada día.</p>
            <button (click)="navLacteos()">Ver</button>
          </div>
        </div>
      </li>
      <li>
        <div class="pack-box pack-img-3">
          <div class="pack-info">
            <h3>Verduras</h3>
            <p>Catálogo de verduras: frescura y sabor directo del campo.</p>
            <button (click)="navVerduras()">Ver</button>
          </div>
        </div>
      </li>
      <li>
        <div class="pack-box pack-img-4">
          <div class="pack-info">
            <h3>Frutas</h3>
            <p>Catálogo de frutas: variedad y frescura para cada momento.</p>
            <button (click)="navFrutas()">Ver</button>
           </div>
        </div>
      </li>
      <li>
        <div class="pack-box pack-img-5">
          <div class="pack-info">
            <h3>Snacks</h3>
            <p>Catálogo de snacks: deliciosos y perfectos para cualquier ocasión.</p>
            <button (click)="navSnacks()">Ver</button>
          </div>
        </div>
      </li>
      <li>
        <div class="pack-box pack-img-6">
          <div class="pack-info">
            <h3>Aseo personal</h3>
            <p>Catálogo de aseo personal: cuidado y frescura para tu bienestar diario.</p>
          <button (click)="navAseoP()">Ver</button>
        </div>
        </div>
      </li> 
      <li>
        <div class="pack-box pack-img-7">
          <div class="pack-info">
            <h3>Limpieza</h3>
            <p>Catálogo de limpieza: soluciones eficaces para un hogar impecable.</p>
          <button (click)="navLimpieza()">Ver</button>
        </div>
        </div>
      </li> 
      <li>
        <div class="pack-box pack-img-8">
          <div class="pack-info">
            <h3>Bebidas</h3>
            <p>Catálogo de bebidas: refresco, jugos y más para todos los gustos.</p>
          <button (click)="navBebidas()">Ver</button>
        </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- Footer -->
<footer class="footer">
  <div class="footer-content">

  </div>
</footer>
